<div class="container">
  <h3>What is a Coronavirus?</h3>
  <div>
    <p><a href="https://en.wikipedia.org/wiki/Coronavirus">Coronaviruses</a> are a group of related RNA viruses that
      cause diseases in mammals and birds.
      In humans, these viruses cause respiratory tract infections that can range from mild to lethal.
      <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">COVID-19</a> is one of the lethal varities.</p>

    <p>Coronavirus disease 2019 (COVID-19) is an infectious disease caused by severe acute respiratory syndrome
      coronavirus 2 (SARS-CoV-2).
      The first case was identified in Wuhan, China on 17th November 2019 from where it spread quickly and became a
      pandemic.
      As of 1 June 2020, more than 6.25 million cases have been reported across 188 countries and territories,
      resulting in more than 372,000 deaths. More than 2.63 million people have recovered.</p>

    <h5>Symptoms</h5>
    <p>Common symptoms include fever, cough, fatigue, shortness of breath, and loss of smell and taste.
      While the majority of cases result in mild symptoms, some progress to acute respiratory distress syndrome (ARDS)
      likely precipitated by a cytokine storm, multi-organ failure, septic shock, and blood clots. The time from
      exposure
      to onset of symptoms is typically around five days but may range from two to fourteen days.</p>

    <h5>Way of spreading</h5>
    <p>The virus is primarily spread between people during close contact,[a] most often via small droplets produced by
      coughing,[b] sneezing, and talking.
      The droplets usually fall to the ground or onto surfaces rather than travelling through air over long distances.
      Less commonly, people may become infected by touching a contaminated surface and then touching their face.
      It is most contagious during the first three days after the onset of symptoms, although spread is possible before
      symptoms appear, and from people who do not show symptoms. The standard method of diagnosis is by real-time
      reverse transcription
      polymerase chain reaction (rRT-PCR) from a nasopharyngeal swab. Chest CT imaging may also be helpful for diagnosis
      in individuals where there is a
      high suspicion of infection based on symptoms and risk factors; however, guidelines do not recommend using CT
      imaging for routine screening.</p>

    <h5>Prevention</h5>
    <p>Recommended measures to prevent infection include frequent hand washing, maintaining physical distance from
      others (especially from those with symptoms), quarantine (especially for those with symptoms), covering coughs,
      and keeping unwashed hands away from the face. The use of cloth face coverings such as a scarf or a
      bandana is recommended in public settings to minimise the risk of transmissions, with some authorities requiring
      their use. Medical grade facemasks such as N95 masks should only be used by healthcare workers, first responders
      and those who care for infected individuals.</p>

    <h4>Sources</h4>
    <span class="links"><a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">https://en.wikipedia.org/wiki/Coronavirus_disease_2019</a></span>
    <span class="links"><a href="https://en.wikipedia.org/wiki/Coronavirus">https://en.wikipedia.org/wiki/Coronavirus</a></span>

    <h4>Important links</h4>
    <span class="links"><a href="https://www.bbc.com/news/world-51235105">BBC - Coronavirus pandemic: Tracking the global outbreak</a></span>
    <span class="links"><a href="https://www.ecdc.europa.eu/en/covid-19-pandemic">European Centre for Disease Prevention and Control - COVID-19</a></span>
    <span class="links"><a href="https://www.bmi.bund.de/SharedDocs/faqs/EN/topics/civil-protection/coronavirus/coronavirus-faqs.html">Coronavirus - Frequently Asked Questions</a></span>
    <span class="links"><a href="https://www.mohfw.gov.in/">Ministry of Health and Family Welfare - India</a></span>
    <span class="links"><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html"> USA CDC Coronavirus page</a></span>
    <span class="links"><a href="https://www.mscbs.gob.es/">Health Ministry Spain</a></span>
    <span class="links"><a href="https://coronavirus.data.gov.uk/">UK Official Coronavirus website</a></span>
    <span class="links"><a href="https://covid19tracker.health.ny.gov/views/NYS-COVID19-Tracker/NYSDOHCOVID-19Tracker-Map?%3Aembed=yes&%3Atoolbar=no&%3Atabs=n">New York Official Coronavirus Tracker</a></span>
    <span class="links"><a href="https://g1.globo.com/bemestar/coronavirus/">Globo Brazil Coronavirus News and Tracker</a></span>
    <span class="links"><a href="https://ourworldindata.org/coronavirus">Global Change Data Lab - Our World in Data</a></span>
    <span class="links"><a href="https://www.nature.com/articles/d41586-020-00502-w">Nature - Coronavirus Research Updates</a></span>
    <span class="links"><a href="https://www.gob.pe/8371-que-son-los-coronavirus/pages">Peru Coronavirus Official Page</a></span>
    <span class="links"><a href="https://xn--80aesfpebagmfblc0a.xn--p1ai/">Russia Coronavirus Official Tracker</a></span>
  </div>
</div>