<div class="app-container">
  <div class="branding">
    <a href="/"><img src="./assets/logo.jpg" width="250" alt="Covidmeter"></a>
    <nav class="navbar navbar-expand-lg navbar-light website-navbar">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']" [routerLinkActive]="['active']">Home <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/about']" [routerLinkActive]="['active']">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
  <div class="footer">
    <div class="copyright">© Copyright Covidmeter.co - All rights reserved </div>
  </div>
</div>