<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="Select a date"
             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (dateSelect)="onModelChange($event)" (click)="d.toggle()"
             [minDate]="minDate" [maxDate]="getNgbDate(maxDate)">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar btn-calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form>
