<div class="home">
  <div class="counters-container">
    <div class="counter total">
      <span class="counter-label">Total</span>
      <span class="counter-value">{{ world_obj ? world_obj.latestData.confirmed : 0 }}</span>
    </div>
    <div class="counter active">
      <span class="counter-label">Active</span>
      <span class="counter-value">{{ world_obj ? world_obj.latestData.active : 0 }}</span>
    </div>
    <div class="counter dead">
      <span class="counter-label">Deaths</span>
      <span class="counter-value">{{ world_obj ? world_obj.latestData.deaths : 0 }}</span>
    </div>
    <div class="counter recovered">
      <span class="counter-label">Recovered</span>
      <span class="counter-value">{{ world_obj ? world_obj.latestData.recovered : 0 }}</span>
    </div>
  </div>
  <div>
    <div class="container left-container">
      <div class="search-div input-group p-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="country-label">Country</span>
        </div>
        <input type="text" class="form-control search-bar" placeholder="Search here" aria-label="Search"
          aria-describedby="country-label" (input)="searchValueChanged($event.target.value)">
        <div class="input-group-append">
          <app-date-picker [maxDate]="maxDate" (modelValue)="onDateChange($event)"></app-date-picker>
        </div>
      </div>
      <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <ng-container *ngFor="let key of Object.keys(sortOrder)">
            <th scope="col" (click)="onColumnSort(key)">{{ prepareTableHeader(key) }}<i [class]="classes[sortOrder[key]]" class="table-sort-toggle"></i></th>
          </ng-container>
        </thead>
        <tbody>
          <tr *ngFor="let row of data; let i = index">
            <th scope="row">{{ row.latestData['#'] }}</th>
            <td><img class="country-flag" [src]="getCountrySvg(row.country)">{{ row.country }}</td>
            <td>{{ row.latestData.confirmed }}</td>
            <td class="new-cases-value bg-warning">{{ row.latestData.new_confirmed }}</td>
            <td>{{ row.latestData.active }}</td>
            <td>{{ row.latestData.deaths }}</td>
            <td class="new-deaths-value bg-danger">{{ row.latestData.new_deaths }}</td>
            <td>{{ row.latestData.recovered }}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="container right-container">
      <data-visualizer [keys]="top10['confirmed'] ? top10['confirmed'].keys : []" [dataset]="top10['confirmed'] ? top10['confirmed'].data: []"
      [reductionFactor]="daysToReduceDataBy" [isCumulative]="true" [title]="'Top 10 countries by total number of confirmed cases'"></data-visualizer>
      <data-visualizer [keys]="top10['active'] ? top10['active'].keys : []" [dataset]="top10['active'] ? top10['active'].data: []"
      [reductionFactor]="daysToReduceDataBy" [isCumulative]="true" [title]="'Top 10 countries by total number of active cases'"></data-visualizer>
      <data-visualizer [keys]="top10['deaths'] ? top10['deaths'].keys : []" [dataset]="top10['deaths'] ? top10['deaths'].data: []"
      [reductionFactor]="daysToReduceDataBy" [isCumulative]="true" [title]="'Top 10 countries by total number of deaths'"></data-visualizer>
      <data-visualizer [keys]="top10['recovered'] ? top10['recovered'].keys : []" [dataset]="top10['recovered'] ? top10['recovered'].data: []"
      [reductionFactor]="daysToReduceDataBy" [isCumulative]="true" [title]="'Top 10 countries by total number of recovered cases'"></data-visualizer>
      <data-visualizer [colors]="['#d53e4f', '#f46d43', '#fdae61']" [keys]="['deaths', 'active', 'recovered']" [dataset]="totals"
        [reductionFactor]="daysToReduceDataBy" [isCumulative]="true" [title]="'Cumulative number of cases'"></data-visualizer>
      <data-visualizer [colors]="['#d53e4f']" [keys]="['confirmed']" [dataset]="totals"
        [reductionFactor]="daysToReduceDataBy" [isCumulative]="false" [title]="'Number of new cases by period'"></data-visualizer>
    </div>
  </div>
</div>